# example: /etc/ss-obfs-ovpn.env
#
# SS_ARGS=AEAD_AES_128_GCM:your-password
# NIC=10.9.8.0
#

# example: /etc/systemd/system/ss-obfs-ovpn@8080.service

[Unit]
Description=Container of ss-obfs-ovpn-%I
After=docker.service

[Service]
Type=simple
Restart=always
# ExecStartPre=-/usr/bin/docker pull chenhw2/ss-obfs-ovpn
ExecStartPre=-/usr/bin/docker rm -f ss-obfs-ovpn-%I
ExecStart=/usr/bin/docker run --rm --name ss-obfs-ovpn-%I --env-file /etc/ss-obfs-ovpn.env --cap-add NET_ADMIN --cap-add NET_RAW --device /dev/net/tun:/dev/net/tun -p %I:8488/tcp chenhw2/ss-obfs-ovpn
ExecStop=-/usr/bin/docker kill ss-obfs-ovpn-%I
ExecStopPost=-/usr/bin/docker rm -f ss-obfs-ovpn-%I

[Install]
WantedBy=multi-user.target
